.result-flex{
  display: flex;
}
.square{
  background-image    : url(image/server.png);
  background-repeat   : no-repeat;
  background-position : left left;
  background-size     : contain;
  margin              : 0px 20px 50px;
  width               : 136px;
  height              : 160px;
  min-width           : 136px;
}

.square p{
  margin         : 0px;
  font-size      : 20px;
  color          : #000000;
  line-height    : 360px;
  text-align     : center;
}

.header-info,.crypto-protocol{
  font-size      : 20px;
}
.arrow {
  margin         : 10px 60px;
}
.arrow .arrow-square {
  width          : 20px;
  height         : 50px;
  position       : relative;
  background     : #4472c4;
  left           : 20px;
}
.arrow .arrow-traiangle{
  border         : 30px solid transparent;
  border-top     : 30px solid #4472c4;
  width          : 0;
}
.arrow .arrow-square_red{
  width          : 20px;
  height         : 50px;
  position       : relative;
  background     : darkorange;
  left           : 20px;
}
.arrow .arrow-traiangle_red{
  border         : 30px solid transparent;
  border-top     : 30px solid darkorange;
  width          : 0;
}